on:
  workflow_call:
    inputs:
        message:
          required: false
          type: string

jobs:
  shared-job:
    runs-on: ubuntu-latest
    name: "Job with two steps"
    steps:
      - name: "Step 1"
        run: |
          echo "This is step 1 from the Shared workflow. ${{inputs.message}}"
      - name: "Step 2"
        run: |
          echo "This is step 2 from the Shared workflow. ${{inputs.message}}"

